<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/stylesheets/styles.css">
        <meta name="viewport" content="width=device-width" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <title>Yoga Music Player</title>
    </head>
    <body>
        <div class="intro">
            <h1>Yoga Music Player</h1>
            <h2>Click below to begin/pause your session</h2> 
            <button type="button" class="btn btn-outline-primary rounded-circle btn-lg">
                <i class="fa fa-play" aria-hidden="true"></i>
            </button>
            <p class="duration mt-2"></p>
            
        </div>
        <section id="particles-js">
            
        </section>
        
        <script src="/public/scripts/particles.js"></script>
        <script src="/public/scripts/particlejson.js"></script>
        <script src="/public/scripts/music.js"></script>
        
    </body>
    
</html>
